body {
  font-family: "Oswald", sans-serif;
}
.navbar {
  font-size: 25px;
  font-weight: 350;
  padding: 5px;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

#prof-image {
  margin-left: 20px;
  border-radius: 50%;
}
.about {
  font-size: 20px;
  align-items: center;
  margin-top: 100px;
}
#about-body {
  width: 75%;
}

.nav-link {
  color: white;
}
.nav-link:hover {
  color: gray;
}
#about-body {
  padding-top: 100px;
}
.projects-container {
  margin: auto;
}
#projects-header {
  padding-top: 100px;
}
.btn {
  background-color: black;
  color: azure;
}
.card-body {
  font-size: 15px;
}
.card {
  margin-top: 10px;
}

#skills {
  padding-top: 100px;
  font-size: 25px;
  font-weight: 400;
  align-items: center;
}
.logo {
  width: 40px;
  height: 40px;
  margin: 5px;
}

.skills-container {
  display: flex;
  justify-content: center;
}
.skill-box {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  border: solid 3px black;
  background-color: rgba(28, 28, 28, 0.476);
  border-radius: 20px;
  margin: 10px;
}
